# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Link Helper'
      'submenu': [
        {
          'label': 'Convert'
          'command': 'link-helper:convert'
        }
      ]
    ]
  }
]
